/*PARAM LE CORPS DU SITE*/

body {
    text-align: center;
    font-family: cursive;
    background: radial-gradient(gray, rgb(9, 4, 42));
}

#forum {
    height: 450px;
}

/* METTRE UNE VIDEO EN ARRIERE PLAN DE LA PAGE D'ACCUEIL */

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 70%;
}
 
/*PARAM L'AJUSTEMENT DES DIFFERENTES RUBRIQUES DU COEUR DU SITE*/

/*PAGE Liste des Catégories*/

.topicC {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 2px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(8px);
    justify-content: space-evenly;
}

.baniere {
    width: 50%;
}

/*PAGE Liste des Topics*/

.topicT {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 40px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(8px);
}

/*BOUTONS ENTRER*/

.topicT a {
    padding: 5px;
    box-shadow: 0px 6px 10px black;
}

/*PAGE Liste des Posts*/

.topicP {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 40px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(8px);
}

/*BOUTONS LIRE*/

.topicP a {
    padding: 5px;
    box-shadow: 0px 6px 10px black;
}

/*COMMUN AUX PAGES Liste des Topics et Liste des Posts*/

th,
td {
    padding: 10px;
}

/*PARAM LES TITRES ET LES LIENS DE NAVIGATION*/

h1 {
    color: black;
}

h2 {
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: white;
    padding: 18px;
    font-size: 1.2em;
}

a:hover {
    transition: ease-in-out 0.5s;
    color: rgb(9, 4, 42);
    background: white;
    opacity: 70%;
}

/*PARAM LE MENU ET LE PIED DE PAGE*/

footer,
nav {
    display: flex;
    padding: 2px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(8px);
    justify-content: space-evenly;
}

footer {
    margin-top: 60px;
}