/*PARAM LE CORPS DU SITE*/

body {
    text-align: center;
    font-family: cursive;
    background: radial-gradient(gray, rgb(9, 4, 42));
}

#mainpage {
    height: max-content;
}

/* METTRE UNE VIDEO EN ARRIERE PLAN DE LA PAGE D'ACCUEIL */

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 70%;
}

/*PARAM L'AJUSTEMENT DES DIFFERENTES RUBRIQUES DU COEUR DU SITE*/

/*PAGE Liste des Catégories*/

/*Bouton AJOUTER*/
.topicC {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 2px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(8px);
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 10px black;
}

.topicC a {
    font-size: 1em;
}

/*Les Catégories*/
.topic {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 2px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(8px);
    justify-content: center;
    align-items: baseline;
    box-shadow: 0px 6px 10px black;
}

/*PARAM Background*/
.back {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: snow;
    margin: 5px;
    border-radius: 10px;

    /*Effet de glissement pour afficher les options*/

    /*Direction du flottement et temps d'éxecution*/
    float: left;
    transition: width .5s ease 0.1s;

    /*Cacher les options*/
    width: 0%;
}

/*Cacher les options*/
.option {
    display: flex;
    overflow: hidden
}

/*Déplier le background pour afficher les options au passage de la souris*/
.back:hover {
    width: 30%;
}

.topic a {
    color: black;
    font-size: 2em;
}

.back a:hover {
    transition: ease-in-out 0.5s;
    color: rgb(9, 4, 42);
    background: none;
    opacity: 70%;
}

/*PARAM Options (Suppression & Modification)*/

/*Boutons icônes*/
.suppC,
.majC {
    cursor: pointer;
    width: 45%;
    background: snow;
}

.suppC:hover,
.majC:hover {
    box-shadow: 0px 6px 10px black;
    transition: ease-in-out 0.5s;
}

/*Banière contenant plusieurs images qui défilent automatiquement dans la page Liste des Catégories*/

/* Animation Scroller les caroussels automatiquement*/

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 10));
    }
}

#baniere {
    display: flex;
    flex-direction: row;

    /*Effet de défilement Auto*/
    position: relative;
    overflow: auto;
    justify-content: left;
    scroll-snap-type: x mandatory;

    /* Cacher le barre de scroll */
    overflow: hidden;
}

.ban {
    position: sticky;
    object-fit: cover;
    flex-shrink: 0;
    scroll-snap-align: start;


    /* Pour centrer la première image du caroussel et gérer l'espace entre les images*/
    width: 40%;
    max-width: 1000px;

    /*Pour scroller auto*/
    animation: scroll 20s linear infinite;
}

.images {
    width: 115%;
    opacity: 50%;
}

.images:hover {
    opacity: 100%;
}

/*PAGE Liste des Topics*/

.topicT {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 40px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(8px);
}

.titreT {
    font-size: 3em;
    color: white;
}

/*BOUTONS ENTRER*/

.topicT a {
    padding: 10px;
    box-shadow: 0px 6px 10px black;
    border-radius: 10px;
}

/*PARAM Background*/
.backT {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: snow;
    border-radius: 10px;

    /*Effet de glissement pour afficher les options*/

    /*Direction du flottement et temps d'éxecution*/
    float: left;
    transition: width .5s ease 0.1s;

    /*Cacher les options*/
    width: 0%;
}

/*Déplier le background pour afficher les options au passage de la souris*/
.backT:hover {
    width: 50%;
}

.backT a {
    color: black;
    font-size: 1em;
}

.backT a:hover {
    transition: ease-in-out 0.5s;
    color: rgb(9, 4, 42);
    background: none;
    opacity: 70%;
}

/*PARAM Options (Suppression & Modification)*/

/*Boutons icônes*/

td .suppT {
    cursor: pointer;
    width: 35%;
    background: snow;
    margin-left: 30px;
}

td .majT {
    cursor: pointer;
    width: 45%;
    background: snow;
}

.suppT:hover,
.majT:hover {
    box-shadow: 0px 6px 10px black;
    transition: ease-in-out 0.5s;
}

/*Image en arrière plan commune à tous les Topics de toute les catégories*/

.photo {
    width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 70%;
}

/*FORMULAIRE Topics*/

.formulaireTopic {
    margin-bottom: 40px;
}

label {
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px;
}

input {
    border-radius: 5px;
    padding: 10px;
}

#submit,
#submitLog {
    padding: 10px;
    color: white;
    background: none;
    font-size: 1.2em;
    box-shadow: 0px 6px 10px black;
    font-weight: bold;
    cursor: pointer;
}

#submit:hover,
#submitLog:hover {
    transition: ease-in-out 0.5s;
    color: rgb(9, 4, 42);
    background: white;
    opacity: 70%;
}

/*PAGE Liste des Posts*/

.topicP {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 40px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(8px);
}

.titreP {
    font-size: 2em;
    color: white;
    padding: 20px;
}

/*BOUTONS LIRE*/

.topicP a {
    padding: 10px;
    box-shadow: 0px 6px 10px black;
    border-radius: 10px;
}

/*COMMUN AUX PAGES Liste des Topics et Liste des Posts*/

th,
td {
    padding: 18px;
    text-align: initial;
}

thead {
    box-shadow: 0px 6px 10px black;
}

/*PARAM LES TITRES ET LES LIENS DE NAVIGATION*/

h1 {
    color: black;
    padding-bottom: 270px;
}

h2 {
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: white;
    padding: 18px;
    font-size: 1.2em;
}

a:hover {
    transition: ease-in-out 0.5s;
    color: rgb(9, 4, 42);
    background: white;
    opacity: 70%;
}

.retour:hover {
    background: none;
}

/*PAGE Détails des Posts*/

.reponses {
    display: flex;
    flex-wrap: wrap;
}

/*Effet de carte retournée*/

.card-container {
    position: relative;
    height: 200px;
    width: 300px;
    margin: auto;
}

.card-container:hover .card {
    transform: rotateY(180deg);
    transition: ease-in-out 1s;
}

.card {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 1s ease;
    transform-style: preserve-3d;
}

.card-front {
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: 0px 6px 10px black;
    backdrop-filter: blur(8px);
    border-radius: 5px;
    backface-visibility: hidden;
}

.card-front p {
    margin-top: 45px;
    font-size: x-large;
    font-weight: bold;
}

.card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), white);
    box-shadow: 0px 6px 10px black;
    backdrop-filter: blur(8px);
    border-radius: 5px;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    padding: 10px;
}

/*PARAM Options (Suppression & Modification)*/

/*Boutons icônes*/

.suppR,
.majR {
    cursor: pointer;
    width: 30%;
    background: snow;
}

.suppR:hover,
.majR:hover {
    box-shadow: 0px 6px 10px black;
    transition: ease-in-out 0.5s;
}

.optionsR {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background: snow;
    border-radius: 10px;
}

h3 {
    font-weight: bold;
}

/*PARAM REGISTER & LOGIN*/

/*Formulaire Inscription*/

.topicINSC {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 30px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(8px);
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 10px black;
    line-height: 3;
}

.topicINSC p {
    line-height: 1.2;
}

/*Mettre en forme les formulaire*/

.inscription {
    text-align: end;
    padding-right: 300px;
}

.connexion {
    text-align: end;
    padding-right: 140px;
}

/*Boutons*/

.topicINSC #submit {
    margin-top: 40px;
    margin-right: 15px;
}

.topicINSC #submitLog {
    margin-top: 40px;
    margin-right: 25px;
}

.consent {
    font-size: 0.8em;
}

/*PAGE Users*/

.users {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 40px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(8px);
    font-size: 3em;
    padding: 20px;
}

/*PARAM Notifications (Messages Flash)*/

.message {
    font-size: 2.5em;
    animation: appear 1s;
}

/* Animation Faire apparaitre certains éléments Zoom*/

@keyframes appear {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/*PARAM LE MENU ET LE PIED DE PAGE*/

footer,
nav {
    display: flex;
    padding: 2px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(8px);
    justify-content: space-evenly;
}

footer {
    margin-top: 250px;
}