/*PARAM LE CORPS DU SITE*/

body {
    text-align: center;
    font-family: cursive;
    background: radial-gradient(gray, rgb(9, 4, 42));
}

/* #forum {
    height: 450px;
} */

#mainpage {
    height: max-content;
}

/* METTRE UNE VIDEO EN ARRIERE PLAN DE LA PAGE D'ACCUEIL */

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 70%;
}

/*PARAM L'AJUSTEMENT DES DIFFERENTES RUBRIQUES DU COEUR DU SITE*/

/*PAGE Liste des Catégories*/

.topicC {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 2px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(8px);
    justify-content: center;
    align-items: center;
}

.topicC a {
    font-size: 2em;
}

/*Banière contenant plusieurs images qui défilent automatiquement dans la page Liste des Catégories*/

/* Animation Scroller les caroussels automatiquement*/

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 10));
    }
}

#baniere {
    display: flex;
    flex-direction: row;

    /*Effet de défilement Auto*/
    position: relative;
    overflow: auto;
    justify-content: left;
    scroll-snap-type: x mandatory;
}

.ban {
    position: sticky;
    object-fit: cover;
    flex-shrink: 0;
    scroll-snap-align: start;


    /* Pour centrer la première image du caroussel et gérer l'espace entre les images*/
    width: 40%;
    max-width: 1000px;

    /*Pour scroller auto*/
    animation: scroll 20s linear infinite;
}

.images {
    width: 90%;
    opacity: 50%;
}

.images:hover {
    opacity: 100%;
}

/*PARAM de Suppression*/

/*Bouton icône*/
.suppC {
    cursor: pointer;
    width: 20%;
    background: snow;
}

.suppC:hover {
    box-shadow: 0px 6px 10px black;
    transition: ease-in-out 0.5s;
}


/*PAGE Liste des Topics*/

.topicT {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 40px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(8px);
}

.titreT {
    font-size: 3em;
    color: white;
}

/*BOUTONS ENTRER*/

.topicT a {
    padding: 5px;
    box-shadow: 0px 6px 10px black;
}

/*Image en arrière plan commune à tous les Topics de toute les catégories*/

.photo {
    width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 70%;
}

/*PARAM de Suppression*/

/*Bouton icône*/
.suppT {
    cursor: pointer;
    width: 10%;
    background: snow;
}

.suppT:hover {
    box-shadow: 0px 6px 10px black;
    transition: ease-in-out 0.5s;
}

/*FORMULAIRE Topics*/

.formulaireTopic {
    margin-bottom: 40px;
}

label {
    font-weight: bold;
    font-size: 1.2em;
}

input {
    border-radius: 5px;
    padding: 10px;
}

#submit {
    padding: 10px;
    color: white;
    background: none;
    font-size: 1.2em;
    box-shadow: 0px 6px 10px black;
    font-weight: bold;
    cursor: pointer;
}

#submit:hover {
    transition: ease-in-out 0.5s;
    color: rgb(9, 4, 42);
    background: white;
    opacity: 70%;
}
/*PAGE Liste des Posts*/

.topicP {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 40px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(8px);
}

.titreP {
    font-size: 2em;
    color: white;
    padding: 20px;
}

/*BOUTONS LIRE*/

.topicP a {
    padding: 5px;
    box-shadow: 0px 6px 10px black;
}

/*PARAM de Suppression*/

/*Bouton icône*/
.suppP {
    cursor: pointer;
    width: 10%;
    background: snow;
}

.suppP:hover {
    box-shadow: 0px 6px 10px black;
    transition: ease-in-out 0.5s;
}

/*COMMUN AUX PAGES Liste des Topics et Liste des Posts*/

th,
td {
    padding: 18px;
}

thead {
    box-shadow: 0px 6px 10px black;
}

/*PARAM LES TITRES ET LES LIENS DE NAVIGATION*/

h1 {
    color: black;
}

h2 {
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: white;
    padding: 18px;
    font-size: 1.2em;
}

a:hover {
    transition: ease-in-out 0.5s;
    color: rgb(9, 4, 42);
    background: white;
    opacity: 70%;
}

.retour:hover {
    background: none;
}

/*PAGE Détails des Posts*/

.reponses {
    display: flex;
    flex-wrap: wrap;
}

/*Effet de carte retournée*/

.card-container {
    position: relative;
    height: 200px;
    width: 300px;
}
.card-container:hover .card {
    transform: rotateY(180deg);
    transition: ease-in-out 1s;
}
.card {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 1s ease;
    transform-style: preserve-3d;
}
.card-front {
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: 0px 6px 10px black;
    backdrop-filter: blur(8px);
    border-radius: 5px;
    backface-visibility: hidden;
}

.card-front p {
    margin-top: 80px;
    font-size: x-large;
    font-weight: bold;
}

.card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), white);
    box-shadow: 0px 6px 10px black;
    backdrop-filter: blur(8px);
    border-radius: 5px;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
}

h3 {
    font-weight: bold;
}

/*PARAM LE MENU ET LE PIED DE PAGE*/

footer,
nav {
    display: flex;
    padding: 2px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(8px);
    justify-content: space-evenly;
}

footer {
    margin-top: 60px;
}